@mixin font-size($sizeValue: 18, $line: $sizeValue * 1.5) {
    font-size: ($sizeValue) + px;
    line-height: ($line) + px;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}